@import '../../../styles/variables.scss';
@import '../../../styles/devices.scss';

.container > section.cta {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $spacing-squish-lg;
  z-index: 20;

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr 300px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  > .contentWrapper {
    .title {
      margin-top: $spacing-stack-xxs;
      margin-bottom: $spacing-stack-xxs;
      justify-items: center;
      text-align: center;
      color: $neutral-color-1;
      font-family: $font-family-secondary;
      font-size: $font-size-xl;
      line-height: $line-height-compact;
      font-weight: $font-weight-bold;
      padding-left: $spacing-inset-sm;
      padding-right: $spacing-inset-sm;

      @include for-tablet-landscape-up {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
  
    .description {
      text-align: center;
      color: $neutral-color-1;
      font-family: $font-family-primary;
      font-size: $font-size-xs;
      line-height: $line-height-far;
      font-weight: $font-weight-regular;
      margin-bottom: $spacing-stack-xxs;

      @include for-tablet-landscape-up {
        text-align: left;
      }
    }
  
    .actionWrapper {
      display: grid;
      grid-template-columns: auto auto;
      gap: $spacing-stack-xxs;
      max-width: 300px;
    }
  
  }
  
  .moreButton {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    bottom: $spacing-stack-xxxs;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
}

.container {
  @include for-tablet-landscape-up {
    text-align: center;
  }

  > section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-squish-xs;
    margin-top: $spacing-stack-xs;
    margin-bottom: $spacing-stack-xs;

    @include for-tablet-landscape-up {
      display: inline-grid;
      grid-template-columns: 1fr 243px;
      gap: $spacing-stack-lg;
      align-items: center;
      padding: $spacing-squish-lg;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      margin-top: $spacing-stack-xxl;
      margin-bottom: $spacing-stack-xxxl;

      > .actionWrapper {
        display: none;
      }
    }

    > .connectWithWrapper {
      display: flex;
      align-items: center;
      gap: $spacing-stack-xxxs;
      padding-top: $spacing-inset-lg;
      padding-bottom: $spacing-inset-lg;

      > h2.title {
        font-family: $font-family-primary;
        color: $neutral-color-1;
        font-size: $font-size-xxs;

        @include for-tablet-landscape-up {
          font-size: $font-size-xs;
        }
      }
    }

    > p.text {
      color: $neutral-color-1;
      line-height: $line-height-far;
      text-align: center;
      font-family: $font-family-primary;
      font-size: $font-size-xs;
      margin-bottom: $spacing-stack-xxs;

      @include for-tablet-landscape-up {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}