@import '../../../styles/variables.scss';
@import '../../../styles/devices.scss';


.container {
  min-height: 100vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  section.about {
    padding: $spacing-inline-xs;
    
    > h1.title {
      font-family: $font-family-secondary;
      font-weight: $font-weight-bold;
      color: $neutral-color-1;
      font-size: $font-size-xl;
      line-height: $line-height-compact;
      text-align: center;
      margin-bottom: $spacing-inline-xs;
    }

    > p.paragraph {
      font-family: $font-family-primary;
      font-weight: $font-weight-regular;
      color: $neutral-color-1;
      font-size: $font-size-xxs;
      line-height: $line-height-far;
      margin-bottom: $spacing-inline-xxs;
    }
  }
}
