@import '../../../styles/variables';

textarea.textArea,
textarea.textArea:focus {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: $spacing-squish-xxs;
  background-color: transparent;
  border-style: solid;
  border-radius: $border-radius-sm;
  border-width: $border-width-thin;
  border-color: $neutral-color-5;
  color: $neutral-color-1;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
}