@import '../../../styles/variables.scss';
@import '../../../styles/devices.scss';

$z-index: 10;

div.IDABackground {
  position: absolute;
  width: 100%;
  top: 0;
  user-select: none;
  
  > div.sectionWrapper {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    
    > div {
      position: relative;

      > img.illustration {
        position: absolute;
        height: 72px;
        z-index: $z-index;
        top: 0;

        &.__main {
          height: 272px;
          z-index: $z-index + 1;
        }
      }
    }
  }

  display: none;

  @include for-tablet-landscape-up {
    display: block;
  }
}

